*{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    width: auto;
    height: 620px;
}  
.full-header{
    text-align: right;
    padding-top: 200px;
    padding-right: 100px;

}
.header-tittle{
    font-size: 28px;
}
.header-deacription{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-deacription p{
    font-size: 18px;
}
.btn{
    margin-top: 10px;
}
.header-btn{
    height: 50px;
    padding: 10px 20px;
    background-color: #F15B22;
    color: #FFFF;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
/* end header */
.failures{
    margin-top: 70px;
    display: flex;
    margin-left: 40px;
    margin-bottom: 30px;
}
.failures-img img{
    width: 569px;
    height: 700px;
}
.failures-items{
    width: 416px;
    height: 400px;
    margin-left: 100px;
    margin-top: 250px;
   

}
.failures-header{
    font-size: 28px;
    margin-bottom: 10px;
}
.failures-description{
    
    padding: 10px;
}
.failures-description p{
    font-size: 18px;
    color: #444343;
}
.failures-list{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.failures-list ul li{
    list-style: none;
    color: #444343;
    margin-top: 5px;
    
}
.failures-list ul li i{
    margin-right: 5px;
}
/* end failures */
.plan-section{
    margin-top: 50px;
    margin-bottom: 20px;
}
.plan-header{
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
}
.plan-item{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.plan-info{
    padding: 10px;
}
.plan-resorce{
    text-align: center;
}
.plan-resorce img{
    margin: 10px 0;
}
.plan-resorce h2{
    margin: 10px 0;
    font-weight: 900;
}
.plan-resorce p{
    font-size: 18px;
    color: #444343;
}
/* plans end */
.footer-container{
    margin-top: 40px;
    width: auto;
    height: 400px;
    background-color: black;
}
.footer-header{
    padding-top: 100px;
    margin-left: 80px;
    display: flex;
}
.footer-info{
    width: 500px;
    margin-left: 20px;
}

.footer-item h1{
    margin-bottom: 10px;
    font-size: 28px;
    color: #FFFF;
}
.footer-item p{
    color: #FFFF;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}
.footer-contact{
    margin-bottom: 20px;
}
.footer-contact p{
    margin-top: 12px;
    color: #FFFF;
}
.footer-icon .icon-item{
margin-left: 10px;
}
.footer-info-container{
    margin-left: 200px;
}
.footer-input h3{
    color: #FFFF;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 26px;
}
.footer-input input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    font-size: 16px;
    padding: 10px;
    color: #FFFF;
    border: 1px solid #fff;
}
.btn-submit{
    height: 50px;
    padding: 10px 20px;
    background-color: #FFFF;
    color:  #F15B22;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}